{% extends 'base.html' %}

{% block header %}
Top of the 5 best books by S.
{% endblock %}

{% block menu %}
<ul>
    <li>news</li>
    <li>quotes</li>
    <li>authors</li>
</ul>
{% endblock %}

{% block content %}
Here we go!
    There is a top - list of 5 books that are considered to be best by S.
    <ul>
        <li>"first book"</li>
        <li>"second book"</li>
        <li>"third book"</li>
        <li>"fourth book"</li>
        <li>"fifth book"</li>
    </ul>
{% endblock %}


